.version.index /* version checker */
{
	color: #0000FC;
	background-color: #A8F8F5;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1904px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu87
{
	width: 0.01px;
	margin-left: -100px;
}

#u87
{
	z-index: 2;
	min-height: 137px;
	padding-bottom: 83px;
}

#u99
{
	z-index: 171;
	width: 368px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 122px;
}

#u173
{
	z-index: 177;
	width: 140px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 761px;
}

#u173.MuseLinkActive
{
	width: 140px;
	min-height: 0px;
	margin: 79px -10000px 0px 0px;
}

#u116-4
{
	z-index: 178;
	width: 136px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 2px;
}

#u116-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 136px;
	margin: 8px -10000px 0px 0px;
}

#u177
{
	z-index: 170;
	width: 137px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 907px;
}

#u177.MuseLinkActive
{
	width: 137px;
	min-height: 0px;
	margin: 79px -10000px 0px 0px;
}

#u122-4
{
	z-index: 173;
	width: 136px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u116-4.MuseLinkActive,#u122-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 136px;
	margin: 8px -10000px 0px 0px;
}

#u122-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 136px;
	margin: 8px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u87-bw
{
	z-index: 2;
	min-height: 137px;
}

#u124
{
	z-index: 3;
	min-height: 579px;
	background-color: #00985C;
	padding-bottom: 109px;
}

#u272
{
	z-index: 182;
	width: 1084px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 39px;
}

#u500-4
{
	z-index: 184;
	width: 604px;
	min-height: 71px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
	left: 222px;
}

#u501-6
{
	z-index: 188;
	width: 690px;
	min-height: 71px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 38px;
	line-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 222px;
}

#u124-bw
{
	z-index: 3;
	min-height: 579px;
	margin-top: 190px;
}

#u125
{
	z-index: 4;
	height: 9px;
	background-color: #007F48;
}

#u125-bw
{
	z-index: 4;
	margin-top: 878px;
	height: 9px;
}

#u400
{
	z-index: 5;
	height: 1070px;
	background-color: #C6F2FE;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u400-bw
{
	z-index: 5;
	margin-top: 1341px;
	height: 1070px;
}

#u126
{
	z-index: 6;
	height: 463px;
	background-color: #70DEFC;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u126-bw
{
	z-index: 6;
	margin-top: 888px;
	height: 463px;
}

#u128-4
{
	z-index: 7;
	width: 526px;
	min-height: 55px;
	background-color: transparent;
	color: #0071BC;
	font-size: 40px;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 939px;
	left: 122px;
}

#u129-6
{
	z-index: 11;
	width: 624px;
	min-height: 67px;
	background-color: transparent;
	color: #0071BC;
	font-size: 20px;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1024px;
	left: 122px;
}

#u137-10
{
	z-index: 17;
	width: 604px;
	min-height: 172px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1134px;
	left: 122px;
}

#u402-4
{
	z-index: 27;
	width: 430px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1537px;
	left: 122px;
}

#u788-4
{
	z-index: 31;
	width: 430px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1537px;
	left: 590px;
}

#u743-4
{
	z-index: 35;
	width: 430px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2050px;
	left: 590px;
}

#u779-4
{
	z-index: 39;
	width: 448px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2050px;
	left: 122px;
}

#u403-8
{
	z-index: 43;
	width: 430px;
	min-height: 254px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1608px;
	left: 122px;
}

#u785-6
{
	z-index: 51;
	width: 430px;
	min-height: 139px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1608px;
	left: 590px;
}

#u746-4
{
	z-index: 57;
	width: 430px;
	min-height: 139px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2099px;
	left: 590px;
}

#u776-6
{
	z-index: 61;
	width: 448px;
	min-height: 139px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2121px;
	left: 122px;
}

#u403-2,#u403-4,#u403-6,#u785-2,#u785-4,#u746-2,#u776-2,#u776-4
{
	padding-bottom: 12px;
}

#u404-4
{
	z-index: 67;
	width: 448px;
	min-height: 26px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1501px;
	left: 122px;
}

#u791-4
{
	z-index: 71;
	width: 448px;
	min-height: 26px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1501px;
	left: 590px;
}

#u740-4
{
	z-index: 75;
	width: 448px;
	min-height: 26px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2014px;
	left: 590px;
}

#u782-4
{
	z-index: 79;
	width: 448px;
	min-height: 26px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2014px;
	left: 122px;
}

#u401-4
{
	z-index: 119;
	width: 526px;
	min-height: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1417px;
	left: 122px;
}

#u181
{
	z-index: 123;
	width: 339px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 829px;
	left: 772px;
}

#u179-4
{
	z-index: 115;
	width: 526px;
	min-height: 55px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 101px;
	position: relative;
}

#u401-2,#u179-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u401,#u179
{
	line-height: 48px;
}

#pu804
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 48px;
}

#u804
{
	z-index: 168;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u455
{
	z-index: 133;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u794
{
	z-index: 166;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u410
{
	z-index: 125;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 702px;
}

#u258-4
{
	z-index: 83;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u261-4
{
	z-index: 107;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 234px;
}

#u260-4
{
	z-index: 99;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 468px;
}

#u263-4
{
	z-index: 95;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	left: 702px;
}

#pu422
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 70px;
}

#u422
{
	z-index: 129;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u428
{
	z-index: 131;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u416
{
	z-index: 127;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 702px;
}

#pu258-4,#pu262-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 10px;
}

#u262-4
{
	z-index: 103;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
}

#u264-4
{
	z-index: 87;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u259-4
{
	z-index: 91;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u265-4
{
	z-index: 111;
	width: 214px;
	min-height: 53px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	left: 702px;
}

#u697
{
	z-index: 136;
	min-height: 135px;
	background-color: #16A67C;
	padding-bottom: 7px;
}

#pu700-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: 122px;
}

#u700-4
{
	z-index: 145;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u702-7
{
	z-index: 153;
	width: 448px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
}

#u702-2,#u702-4
{
	line-height: 26px;
}

#u702-5
{
	line-height: 19px;
}

#pu701-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: 590px;
}

#u701-4
{
	z-index: 149;
	width: 214px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u703-4
{
	z-index: 160;
	width: 156px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 26px;
	position: relative;
}

#u704
{
	z-index: 164;
	width: 58px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 980px;
}

#u697-bw
{
	z-index: 136;
	min-height: 135px;
	margin-top: 108px;
}

#u696
{
	z-index: 135;
	min-height: 59px;
	background-color: #00985C;
	padding-bottom: 19px;
}

#u87_align_to_page,#u124_align_to_page,#u697_align_to_page,#u696_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u698-4
{
	z-index: 137;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 122px;
}

#u699-4
{
	z-index: 141;
	width: 251px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 787px;
}

#u696-bw
{
	z-index: 135;
	min-height: 59px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

