@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: normal;
  src: local('PT Mono'), local('PTMono-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptmono/v1/jmle3kzCPnW8O7_gZGRDlQ.woff') format('woff');
}
