html,body {
height:70%;
width:97%;
font-family:arial, serif;
color:#333;
background-color:#fff;
margin:0 0 0 27px;
padding:0;
}
#wrapper {
min-height:70%;
min-width:1000px;
}

* html #wrapper {
height:90%;
width:expression(document.body.clientWidth > 1000? '100%': '1000px');
}

#page-head {
height:189px;
}

#logoplace {
width:286px;
height:215px;
left:0;
top:0;
position:absolute;
background-color:#fff;
}

#logoimgplace {
width:142px;
height:146px;
position:absolute;
top:36px;
left:10px;
}

img {
border:0;
}

#conn {
width:200px;
height:132px;
position:absolute;
top:0;
left:450px;
background:url(i/connectors.jpg) no-repeat;
}

#main {
margin-top:215px;
}

#leftindex {
float:left;
font-size:0.8em;
margin-top:90px;
}

#c-index {
float:left;
font-size:0.8em;
top:180px;
left:245px;
position:absolute;
}

ul {
margin:0;
padding:0;
}

li {
list-style-type:none;
list-style-image:url(i/arrow.gif);
margin:0;
padding:0 0 7px;
}

#camplace {
width:640px;
height:496px;
left:295px;
top:270px;
border:1px solid;
position:absolute;
border-color:#ccc;
}

.camplace_small {
width:320px;
height:256px;
border:1px solid;
position:absolute;
border-color:#ccc;
}

#icam {
position:absolute;
float:left;
width:120px;
height:254px;
left:0;
top:397px;
background:url(i/icam.jpg) no-repeat;
}

#copy {
margin-left:90px;
margin-top:600px;
width:335px;
height:85px;
color:#666;
float:left;
}

#copy p {
margin:0;
padding:0;
}

#copy a {
color:#27384f;
text-decoration:underline;
}

#copy a:hover {
color:#00aeef;
text-decoration:underline;
}
#copy a:focus {
color:#00aeef;
text-decoration:underline;
}

.copy {
font-size:0.65em;
}

.hid {
visibility:hidden;
}

.footer,.push {
height:4em;
}

.content-center img {
vertical-align:middle;
}

.content-center a {
text-decoration:none;
}

.ramka {
background-color:#FF9;
border-color:#F60;
border-style:ridge;
}

.ramka a {
color:#F90;
font-size:18px;
}

#example-links {
float:left;
width:150px;
}

#example-links a {
display:block;
font-size:17px;
height:39px;
line-height:39px;
}

#example-links a:focus {
outline:0;
}

#example-links a:hover {
background-color:#ddd;
}
#example-links a:focus {
background-color:#ddd;
}

#example-content-container {
height:200px;
overflow:hidden;
width:400px;
}

#example-content div {
height:200px;
padding:10px 0;
}

#leftindex a,#c-index a {
color:#1589d5;
text-decoration:underline;
}

#leftindex a:hover,#c-index a:hover {
color:#f79b05;
text-decoration:underline;
}
#leftindex a:focus,#c-index a:focus {
color:#f79b05;
text-decoration:underline;
}
.activeField
{
background-image: none;
background-color: #ffffff;
border: solid 1px #F60;
}
.idle
{
border: solid 1px #85b1de;
background-image: url( 'gray_bg.png' );
background-repeat: repeat-x;
background-position: top;
background-color:#FFFFFF;
}
#HOBbIu_KJlACC {
margin:0 0 0 128px; width:600;
}
.grey {
color:#666666;
}
.classtable {
border-top:#FF3300 groove;
border-bottom:thin;
}
.usertable td{
border-left:#999999  medium ;
}
a { cursor:pointer;
}

/* showcam */

.hour-title {
  width: 20px;
  height: 20px;
  float: left;
  clear: left;
}
.hour {
  width: 900px;
  height: 20px;
  float: left;
}
.hour:first-of-type {
  border-top: 1px black solid;
}

.hour * {
  width: 15px;
  height: 19px;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

.hour *:first-child {
  width: 18px;
  border-left: 1px black solid;
}

.hour i {
  font-style: normal;
}

.hour a {
  background-color: #006400;
  text-decoration: none;
}

.hour b {
  background-color: #DC143C; 
}

.hour s {
  background-color: #A9A9A9;
}

#minutes {
  height: 100px;
}
#records{
 /* background-image: url("i/screensh.jpg");
  */
 background-color: #FFFFCC;
 padding:20;
}
#showonline
{ background-color: #CCFF33;
 padding:10 20;
}
.gradientblue,.gradientblack {
font: 32px Georgia, "Times New Roman";
position: relative; /* обязательно */
margin: 10px 0;
padding: 0;
}
.gradientblack {
color: #333;
}
.gradientblue {
color: #0094D6;
}
h1 b {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 23px;
background: #FFF;
overflow: hidden /* для проклятого IE6 */;
opacity: 0.63;
filter: alpha(opacity=63);
-moz-opacity: 0.63;
}
/* // showcam */